#header{
    @include headerresponsive($celu){
        #botonera{
            height: 160px;
            font-size: 15px;
            padding: 0px 4em;
        } 
        #logo{
            color: #fffefe;
            font-size: 25px;
        }
    }

    @include headerresponsive($tablet){
          /*-------Header-------*/

    #botonera{
        height: 160px;
        font-size: 15px;
        padding: 0px 4em;
    } 
    #logo{
        color: #fffefe;
        font-size: 28px;
    }         
    }

    @include headerresponsive($compu){
        
    /*-----HEADER-----*/

    #botonera{
    background-color: #000;
    height: 100px;
    font-family:'Oswald', sans-serif;
    font-size: 25px;
    padding: 0px 4em;
    box-shadow: 0 0 3px #000;
    }

    #logo{
    color: #fffefe;
    font-size: 25px;
    }

    .items{
    color: white;
    }

    }
}

