

.header{
    
    #botonera{
        background-color: #000;
        height: 100px;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        padding: 0px 10em;
    }
    
    #logo{
        color: #fffefe;
        font-size: 25px;
    }
    
    .items{
        color: white;
    }



    @include headerresponsive($celu){
         /*-------Header-------*/
    #botonera{
        height: 160px;
        font-size: 15px;
        padding: 0px 4em;
        font-family: 'Roboto', sans-serif;
    } 
    #logo{
        color: #fffefe;
        font-size: 25px;
    }

    @include headerresponsive($tablet){
          /*-------Header-------*/

    #botonera{
        height: 160px;
        font-size: 15px;
        padding: 0px 4em;
        font-family: 'Roboto', sans-serif;
    } 
    #logo{
        color: #fffefe;
        font-size: 28px;
    }         
    }

    @include headerresponsive($laptop){
         /*-------Header-------*/

    #botonera{
        height: 175px;
        font-size: 20px;
        padding: 0px 4em;
        font-family: 'Roboto', sans-serif;
    } 
    #logo{
        color: #fffefe;
        font-size: 28px;
    }
    }

    @include headerresponsive($compu){
        
     /*-------Header-------*/

     #botonera{
        font-size: 25px;
        padding: 0px 2em;
        font-family: 'Roboto', sans-serif;
    } 
    #logo{
        color: #fffefe;
        font-size: 28px;
    }
    }
}

}