/*-----HOME-----*/

.container{
    margin: 0 auto;   
}

.f-f{
    font-family:'Oswald', sans-serif;
}
.carrousel{
    width: 50%;
    margin: 0 auto;
}

.container-div{
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.card-home{
    border: none;
    width: 18rem;
}


.btn{
    border-radius: 10px;
}