/*-----HOME-----*/



.text-model{
    padding: 3rem ;
}

.container{
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
    width: fit-content;
}
.carrousel{
    width: 55%;
    margin: 0 auto;
}

.container-div{
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.card-home{
    border: none;
}


.btn{
    border-radius: 10px;
}
