*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-home{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

/*-----HEADER-----*/
.header {
    grid-area: header;
    background-image: url("./img/Fondo\ Header.jpg");
    opacity:    0.8;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: space-around;
    height: 4.5rem;
    border-bottom: 1px outset black;
}

.logo{
    font-size: 30px;
    padding-top: 1rem ;
    color: black;
    text-decoration: none;
}

.logo:hover{
    cursor: pointer;
    transition: all 100ms ease-out;
    color: rgb(0, 0, 0);
}

.nav-text{
    color: black;
}

.nav-text:hover{
    cursor: pointer;
    transition: all 100ms ease-out;
    color: rgb(0, 17, 255);
}

ul{
    gap: 3rem;
    font-size: 25px;
    list-style: none;
    padding-top: 0.7rem;
}



/*-----HOME-----*/
main{
    grid-area: main;
}

.container{
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
    width: fit-content;
}
.carrousel{
    width: 55%;
    margin: 0 auto;
}

.container-div{
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.card{
   text-align: center;
}


.btn{
    border-radius: 10px;
}

/*-----CATALOGO-----*/

.container-catalogo{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
.text{
    display: block;
    text-align: center;
    padding: 2rem;
    border: 3px outset #aaa7a7;
    background-color: #000000;
    color: white;
}


.container-div-car{
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.card-home{
    border: none;
}

.card-catalogo:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgb(0, 0, 0, 0.2);
}

.h1{
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

/*-----FOOTER----*/
.footer{
    grid-area: footer;
    background-color: rgb(29, 27, 27);
    width: 100%;
    font-family: 'Oswald', sans-serif;
}

footer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

footer ul li h2{
    color: #fff;
    font-size: 25px;
}

.footer-logos{
    width: 50px;
}

@media only screen and (max-width: 570px){

    
    /*Header*/

    .header{
        flex-direction: column;
        align-items: center;
    }

        
    ul{
        gap: 10px;

    }

    /*Home*/




}

