*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*-----HEADER-----*/

#botonera{
    background-color: #000;
    height: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 0px 10em;
    box-shadow: 0 0 3px #000;
}

#logo{
    color: #fffefe;
    font-size: 25px;
}

.items{
    color: white;
}

/*-----HOME-----*/

.container{
    margin: 0 auto;   
}

.f-f{
    font-family:'Oswald', sans-serif;
}
.carrousel{
    width: 50%;
    margin: 0 auto;
}

.container-div{
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.card-home{
    border: none;
    width: 18rem;
}


.btn{
    border-radius: 10px;
}

/*-----CATALOGO-----*/

.text{
    display: block;
    text-align: center;
    padding: 2rem;
    border: 2px outset #ffffff;
    background-color: #000000;
    color: white;
}


.container-div-car{
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.card-catalogo:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgb(0, 0, 0, 0.2);
}

.h1{
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

/*-----CONTACTO----*/

.container-contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3rem;
    
}

#card-contact{
    padding-top: 2rem;
    margin-right: 2rem;
    padding-bottom: 2rem;
}

.contact-map{
    display: flex;
    flex-direction: row;
    border: 1px outset black;
    width: 25%;
}

/*-----FOOTER----*/

.pie-contacto{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer{
    background-color: #000;
    font-family: 'Roboto', sans-serif;
}
.iconos{
    width: 35px;
    height: 35px;
    padding: 5px;
    margin: 5px;
}
#footer{
    text-align: left;
}

.link-coder{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#iconos-footer{
    text-align: right;
}


/*-------------RESPONSIVE-----------------*/

@media only screen and (max-width: 550px) {
    
  /*-------Header-------*/
    #botonera{
        height: 160px;
        font-size: 15px;
        padding: 0px 4em;
    } 
    #logo{
        color: #fffefe;
        font-size: 25px;
    }

    /*-------Home------*/
    .carrousel{
        width: 100%;
    }

    .card-home{
        width: 15rem;
    }

    /*--------Catalogo--------*/
        
    .card-catalogo{
        margin-top: 2rem;
    }
    
    .container-div-car{
        flex-direction: column;
        align-items: center;
    }

    .h1{
        font-size: 30px;
    }    

    p{
        font-size: 15px;
    }
 
    /*-----Contacto------*/
    
    .text-contact{
        font-size: 40px;
    }
    
    .container-contact{
        flex-direction: column;
        justify-content: center;
        padding-top: 4rem;
    }
    
    #card-contact{
        margin: 0px auto;
        padding-top: 2rem;
        padding: 2rem;
    }
    
    .contact-map{
        height: 300px;
        margin: 0px auto;
        width: 75%;
        margin-top: 2rem;
        
    }
    
    /* Footer */
    .pie-contacto{
        position: relative;
        margin-top: 2rem;
    }

    #footer{
        text-align: center;
        padding-top: 5px;
        padding-bottom: 20px;
        }
        #iconos-footer{
        text-align: center;
        padding-left: 20px;
        }
}

@media (min-width: 551px) and (max-width: 770px) {
   
    /*-------Header-------*/

    #botonera{
        height: 160px;
        font-size: 15px;
        padding: 0px 4em;
    } 
    #logo{
        color: #fffefe;
        font-size: 28px;
    }

    /*-------Home------*/

    .carrousel{
        width: 100%;
    }

     /*--------Catalogo--------*/

     .container-div-car{
        flex-direction: column;
        align-items: center;
    }

    .card-catalogo{
        margin-top: 4rem;
    }

    .h1{
        font-size: 38px;
    }    

    p{
        font-size: 20px;
    }

     /*-----Contacto------*/
    
     .text-contact{
        font-size: 40px;
    }
    
    .container-contact{
        flex-direction: column;
        justify-content: center;
        padding-top: 4rem;
    }
    
    #card-contact{
        margin: 0px auto;
        padding-top: 2rem;
        padding: 5rem;
        width: 80%;
    }
    
    .contact-map{
        height: 400px;
        margin: 0px auto;
        width: 80%;
        margin-top: 3rem; 
    }

    /* Footer */
    
    .pie-contacto{
        position: relative;
        margin-top: 4rem;
    }
   
    #footer{
        text-align: center;
    }
    #iconos-footer{
        text-align: center;
    }

}

@media (min-width: 771px) and (max-width: 1000px) {
    /*-------Header-------*/

    #botonera{
        height: 175px;
        font-size: 20px;
        padding: 0px 4em;
    } 
    #logo{
        color: #fffefe;
        font-size: 28px;
    }

    /*-------Home------*/

    .carrousel{
        width: 100%;
    }


     /*--------Catalogo--------*/

     .container-div-car{
        align-items: center;
    }

    .card-catalogo{
        margin-top: 2rem;
    }

    .h1{
        font-size: 38px;
    }    

    p{
        font-size: 20px;
    }

      /*-----Contacto------*/
    
      .text-contact{
        font-size: 50px;
    }
    
    .container-contact{
        flex-direction: column;
        justify-content: center;
        padding-top: 4rem;
    }
    
    #card-contact{
        margin: 0px auto;
        padding-top: 1rem;
        padding: 5rem;
        width: 80%;
    }
    
    .contact-map{
        height: 450px;
        margin: 0 auto;
        width: 80%;
        margin-top: 3rem;
    }

    /* Footer */
   
    .pie-contacto{
        position: relative;
        margin-top: 5rem;
    }
    
    #footer{
        text-align: center;
    }
    #iconos-footer{
        text-align: center;
    }
}

@media (min-width: 1001px) and (max-width: 1200px) {
    /*-------Header-------*/

    #botonera{
        font-size: 25px;
        padding: 0px 2em;
    } 
    #logo{
        color: #fffefe;
        font-size: 28px;
    }

    
    /*-------Home------*/

    .carrousel{
        width: 100%;
    }

    .card-home{
        width: 16rem;
    }

     /*-----Contacto------*/
    
     .text-contact{
        font-size: 40px;
    }
    
    .container-contact{
        flex-direction: column;
        justify-content: center;
        padding-top: 4rem;
    }
    
    #card-contact{
        margin: 0px auto;
        padding-top: 1rem;
        padding: 5rem;
        width: 80%;
    }
    
    .contact-map{
        height: 500px;
        margin: 0 auto;
        width: 80%;
        margin-top: 3rem;
    }

    /* Footer */
   
    .pie-contacto{
        position: relative;
        margin-top: 7rem;
    }
    
    #footer{
        text-align: center;
    }
    #iconos-footer{
        text-align: center;
    }
}
