*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*-----HEADER-----*/

#botonera{
    background-color: #000;
    height: 100px;
    font-family:'Oswald', sans-serif;
    font-size: 25px;
    padding: 0px 4em;
    box-shadow: 0 0 3px #000;
}

#logo{
    color: #fffefe;
    font-size: 25px;
}

.items{
    color: white;
}

/*-----HOME-----*/



.text-model{
    padding: 3rem ;
}

.container{
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
    width: fit-content;
}
.carrousel{
    width: 55%;
    margin: 0 auto;
}

.container-div{
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.card{
   text-align: center;
}

.card-home{
    border: none;
}


.btn{
    border-radius: 10px;
}

/*-----CATALOGO-----*/

.text{
    display: block;
    text-align: center;
    padding: 2rem;
    border: 2px outset #ffffff;
    background-color: #000000;
    color: white;
}


.container-div-car{
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.card-catalogo:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgb(0, 0, 0, 0.2);
}

.h1{
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}


/*-----FOOTER----*/

footer{
    margin-top: 2rem;
    background-color: #000;
    height: 100px;
    font-family: 'Oswald', sans-serif;;
}

.footer-text{
    padding-top: 2rem;
}


/*Responsive*/

@media only screen and (max-width: 550px) {
    
  /*-------Header-------*/
    #botonera{
        height: 160px;
        font-size: 15px;
        padding: 0px 4em;
    } 
    #logo{
        color: #fffefe;
        font-size: 25px;
    }

    /*-------Home------*/
    #carrouselnashe{
        width: 100%;
    }
    /*--------Catalogo--------*/
        
    .container-div-car{
        flex-direction: column;
        align-items: center;
    }

    .h1{
        font-size: 30px;
    }    

    p{
        font-size: 15px;
    }
    
}

@media (min-width: 551px) and (max-width: 770px) {
   
    /*-------Header-------*/

    #botonera{
        height: 160px;
        font-size: 15px;
        padding: 0px 4em;
    } 
    #logo{
        color: #fffefe;
        font-size: 28px;
    }

    /*-------Home------*/

    #carrouselnashe{
        width: 100%;
    }

    #card-home{
        width: 1220px;
    }

     /*--------Catalogo--------*/
        
     .container-div-car{
        flex-direction: column;
        align-items: center;
    }

    .h1{
        font-size: 38px;
    }    

    p{
        font-size: 20px;
    }


}
